body{
    background-image: url('record.png');
    background-size: 20%;
    background-position: center;
    background-repeat: repeat;
    margin: 0;


}

.header{

    background-color: darkblue;
    color: lightblue;
    text-align: center;
    padding: 1em;


    
}

.main{
    background-color: lightgrey;
    text-align: center;
    margin: 0;
    padding: 1em;

  
}
